# Fichiers sensibles
.env

# Fichiers de cache et de compilation Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Environnements virtuels
venv/
env/

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers de données locaux
data/